
# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env
.env.*

# Ignore output files
output.txt

# Ignore image input files
*.jpg
*.jpeg
*.png

# Ignore service account keys and sensitive files
serviceAccountKey.json

# Ignore VSCode settings
.vscode/

# Ignore any other sensitive or local files
*.local
*.log


ocr.py
fast_api.py